.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  h1{
      @apply text-red-500 text-8xl font-bold mb-4 rounded-full p-5 shadow-xl
  }
  
}
