.toggle-button {
  transition: transform 0.3s ease-in-out;

  //same as toggle-button.dark
  &.dark {
    transform: rotate(180deg);
  }

  //same as toggle-button.light
  &.light {
    transform: rotate(0deg);
  }
}
